<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta
      name="description"
      content="USLUGE:
    Prevoz rasutog i građevinskog materijala u drumskom saobraćaju kiper kamionima,
    Zemljani radovi Smederevo,
    Мašinski iskop zemlje bagerom,
    Raščišćavanje, planiranje i ravnjanje zemljanih površina buldožerom,
    Usluga razbijanja betona pikamerom bagerom sa težinom čekića 1100kg,
    Raščišćavanje komunalnih deponija buldožerom,
    Mašinsko sečenje betona,
    Radovi u nisko gradnji,
    Iskop posteljice i izrada platoa šljunkovitim i kamenitim materijalima,
    Rušenje objekata,
    Smederevo,
    Aleksandar Stojičić
    "
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Alex Smederevo</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Material+Icons"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but alexsd doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
