<template>
  <div>
    <v-content>
      <v-container style="max-width: 1200px ">
        <v-card class="bradius" flat>
          <h1
            class="text-xs-center display-3"
            :class="{'display-3':$vuetify.breakpoint.lg, 'display-2': $vuetify.breakpoint.md,'display-1': $vuetify.breakpoint.sm,'title': $vuetify.breakpoint.xs}"
          >Naš portfolio - obavljeni poslovi</h1>
          <v-divider class="pb-2"></v-divider>
          <v-container grid-list-lg>
            <v-layout row wrap>
              <v-flex lg4 md6 sm6 xs12 v-for="(card, i) in arrOfCards" :key="i">
                <v-card class="bradius">
                  <v-img aspect-ratio class="bradius" :src="card.slika"></v-img>
                  <v-card-title class="primary--text title font-weight-regular">{{card.naziv}}</v-card-title>
                  <v-divider></v-divider>
                  <v-layout column>
                    <v-flex xs12>
                      <div class="pl-1">
                        <v-icon size="20" class="mt-1 mr-1">location_on</v-icon>
                        {{card.lokacija}}
                        <br>
                        <v-icon size="20" class="mt-1 mr-1">date_range</v-icon>
                        {{card.datum}}
                        <br>
                        <v-icon size="19" class="mt-1 mr-1">euro_symbol</v-icon>
                        {{card.cena}}
                      </div>
                    </v-flex>
                    <v-flex>
                      <v-divider></v-divider>
                      <div class="text-xs-justify pa-2">
                        <strong>Kratak opis:</strong>
                        {{card.opis}}
                      </div>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-flex>
              <v-flex lg4 md6 sm6 xs12>
                <v-card v-if="$store.getters.logged" class="bradius">
                  <v-img>
                    <v-layout row justify-center>
                      <v-btn @click="clickedAdd" class="ma-3" large icon color="primary">
                        <v-icon>add</v-icon>
                      </v-btn>
                    </v-layout>
                  </v-img>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
        <v-dialog v-model="dialog" max-width="800">
          <v-card>
            <v-card-title class="headline">Dodaj posao</v-card-title>
            <v-divider></v-divider>
            <v-container grid-list-lg>
              <v-layout row wrap>
                <v-flex xs12 sm6 md3 v-for="input in arrOfInputs" :key="input.label">
                  <v-text-field
                    :prepend-inner-icon="input.icon"
                    v-model="input.data"
                    :label="input.label"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-textarea
                    prepend-inner-icon="comment"
                    outline
                    label="Kratak opis"
                    v-model="otherInputs.opis"
                  ></v-textarea>
                </v-flex>

                <v-flex xs6>
                  <v-btn
                    onclick="document.getElementById('file-input').click();"
                    color="grey"
                    dark
                    block
                  >Dodaj sliku</v-btn>
                  <input
                    @change="onFileSelected"
                    id="file-input"
                    type="file"
                    name="name"
                    style="display: none;"
                  >
                  <v-img :src="otherInputs.selctedFile"></v-img>
                </v-flex>
              </v-layout>
            </v-container>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn color="error" @click="dialog = false">Otkaži</v-btn>
              <v-btn color="primary" @click="dodaj">Dodaj</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-container>
    </v-content>
    <app-footer/>
  </div>
</template>

<script>
import Footer from "@/components/Footer/Footer.vue";
export default {
  components: {
    appFooter: Footer
  },
  methods: {
    clickedAdd() {
      this.dialog = true;
    },
    onFileSelected(event) {
      this.otherInputs.selctedFile = URL.createObjectURL(event.target.files[0]);
    },
    dodaj() {
      let novaKartica = {
        naziv: this.arrOfInputs[0].data,
        lokacija: this.arrOfInputs[1].data,
        datum: this.arrOfInputs[2].data,
        cena: this.arrOfInputs[3].data,
        opis: this.otherInputs.opis,
        slika: this.otherInputs.selctedFile
      };
      this.$store.state.arrOfCards.push(novaKartica);

      this.arrOfInputs[0].data = "";
      this.arrOfInputs[1].data = "";
      this.arrOfInputs[2].data = "";
      this.arrOfInputs[3].data = "";
      this.otherInputs.opis = "";
      this.otherInputs.selctedFile = "";
      this.dialog = false;
    }
  },
  computed: {
    arrOfCards() {
      return this.$store.state.arrOfCards;
    }
  },
  data() {
    return {
      arrOfInputs: [
        { icon: "subtitles", label: "Naziv", data: "" },
        { icon: "location_on", label: "Lokacija", data: "" },
        { icon: "date_range", label: "Datum", data: "" },
        { icon: "euro_symbol", label: "Cena", data: "" }
      ],
      otherInputs: {
        opis: "",
        selctedFile: ""
      },
      dialog: false
    };
  }
};
</script>

<style scoped>
.bradius {
  border-radius: 15px;
}
</style>