<template>
  <div>
    <v-content>
      <v-card>
        <v-layout wrap row>
          <v-flex v-for="i in 19" :key="i" xs3>
            <v-img class="ma-1" :src="`/gallery/${i}.jpeg`"> </v-img>
          </v-flex>
        </v-layout>
      </v-card>
    </v-content>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
