<template>
  <div>
    <div>
      <v-carousel id="carousel" class="pa-0 ma-0" height="700">
        <v-carousel-item
          class="pa-0 ma-0"
          v-for="(item, i) in items"
          :key="i"
          :src="item.src"
        >
          <v-layout id="text" row justify-center>
            <v-flex xs12 sm10 md8 class="mt-5">
              <div class="white--text text-xs-center">
                <div id="itemtext">{{ item.text }}</div>
              </div>
            </v-flex>
          </v-layout>
        </v-carousel-item>
      </v-carousel>
      <v-container style="max-width: 1200px ">
        <div style="border-radius: 15px;" flat>
          <div class="pa-1 ml-2">
            <div class="display-3 mb-5">O nama.</div>
            <p
              v-for="(usluga, index) in usluge"
              :key="index"
              style="font-size: 1.5em"
              class="font-weight-regular"
            >
              <span class="heading font-weight-bold" style="color: green"
                >-</span
              >
              {{ usluga }}
              <br />
            </p>
          </div>
          <h1 class="display-1 text-xs-center mt-5">
            Nudimo sledeće usluge
          </h1>
          <br />
          <v-layout row wrap>
            <v-flex
              lg4
              md4
              sm6
              xs6
              class="pa-1 mt-4"
              v-for="machine in machines"
              :key="machine.src"
            >
              <v-card
                flat
                @click="$router.push('/usluge')"
                style="cursor:pointer;"
              >
                <v-responsive class="pa-1">
                  <v-img
                    style=" border-radius: 5px;"
                    aspect-ratio="1.8"
                    :src="machine.src"
                  ></v-img>
                </v-responsive>
              </v-card>
            </v-flex>
          </v-layout>
          <br />
          <v-layout row justify-center class="mt-3">
            <v-btn color="primary" @click="$router.push('/usluge')"
              >Pogledaj više</v-btn
            >
          </v-layout>
          <h1 class="display-1 text-xs-center my-5">
            Galerija
          </h1>
          <v-carousel
            height="auto"
            cycle
            hide-delimiters
            id="carousel"
            class="pa-0 ma-0"
          >
            <v-carousel-item
              style="cursor:pointer"
              class="pa-0 ma-0"
              v-for="i in 19"
              :key="i"
            >
              <v-img aspect-ration="1.77" :src="`/gallery/${i}.jpeg`"></v-img>
            </v-carousel-item>
          </v-carousel>
          <v-divider></v-divider>
          <v-card>
            <v-layout wrap row>
              <v-flex v-for="i in 19" :key="i" xs3>
                <v-img
                  @click="openDialog(i)"
                  class="ma-1"
                  :src="`/gallery/${i}.jpeg`"
                  style="cursor: pointer;"
                >
                </v-img>
              </v-flex>
            </v-layout>
          </v-card>
          <v-divider class="my-5"></v-divider>
          <div class="pa-1 ml-2">
            <div class="text-xs-center display-1">Kontaktirajte nas</div>
            <br />
            <v-layout row justify-center>
              <v-btn color="primary" @click="$router.push('/kontakt')"
                >KONTAKT</v-btn
              >
            </v-layout>
          </div>
        </div>
      </v-container>
    </div>
    <Kontakt />
    <div class="text-center">
      <v-dialog v-model="dialog" width="900">
        <v-layout row reverse>
          <v-flex xs2 sm1>
            <v-btn small fab @click="dialog = false" color="error">
              <v-icon>close</v-icon></v-btn
            >
          </v-flex>
        </v-layout>
        <v-card>
          <v-img
            aspect-ration="1.77"
            :src="`/gallery/${currentItem}.jpeg`"
          ></v-img>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>
<script>
import Kontakt from "@/views/Kontakt.vue";
export default {
  components: {
    Kontakt
  },
  head: {
    meta: [
      {
        name: "description",
        content: `Prevoz kiper kamionom,
        Lupanje betona pikamerom,
        Secenje betona,
        Utabavanje betona,
        Iskop bagerom,
        Utovaranje rasutog materijala,
        Skladistenje viljuškarem`
      }
    ]
  },
  data() {
    return {
      currentItem: 1,
      dialog: false,
      usluge: [
        "Prevoz rasutog i građevinskog materijala u drumskom saobraćaju kiper kamionima",
        "Zemljani radovi",
        "Мašinski iskop zemlje bagerom",
        "Radovi u nisko gradnji",
        "Iskop posteljice i izrada platoa šljunkovitim i kamenitim materijalima",
        "Rušenje objekata",
        "Raščišćavanje, planiranje i ravnjanje zemljanih površina buldožerom",
        "Usluga razbijanja betona pikamerom bagerom sa težinom čekića 1100kg",
        "Raščišćavanje komunalnih deponija buldožerom",
        "Mašinsko sečenje betona"
      ],
      items: [
        {
          src: "/carousel/1.jpg",
          text: "Mašinsko sečenje betona"
        },
        {
          src: "/carousel/2.jpg",
          text: "Prevoz rasutog i građevinskog materijala u drumskom saobraćaju"
        },
        {
          src: "/carousel/3.jpg",
          text: "Мašinski iskop zemlje"
        },
        {
          src: "/carousel/4.jpg",
          text: "Usluga razbijanja betona pikamerom "
        }
      ],
      machines: [
        {
          src: "/thumbs/01.jpg",
          headline: "Mercedes-Benz 2628",
          text: ["Snaga: 206 kW (280 HP)", "Nosivost 15.250 kg"]
        },
        {
          src: "/thumbs/02.jpg",
          headline: "LIEBHERR - 912",
          text: ["Lupanje betona pikamerom", "Iskopavanje"]
        },
        {
          src: "/thumbs/03.jpg",
          headline: "O&K Utovarivač",
          text: ["Utovaranje rasutog materijala", "Nosivost: 5.120 kg"]
        },
        {
          src: "/thumbs/04.jpg",
          headline: "Buldožer",
          text: ["Rasčišćavanje terena", "Vađenje stabala"]
        },
        {
          src: "/thumbs/05.jpg",
          headline: "Viljuškar",
          text: ["Industrijska namena za velike hale", "Nosivost 12.510 kg"]
        },
        {
          src: "/thumbs/06.jpg",
          headline: "Sečenje betona i sabijanje",
          text: ["Sečenje betona dijamnskom testerom", "Sabijanje betona žabom"]
        }
      ]
    };
  },
  methods: {
    openDialog(i) {
      this.currentItem = i;
      this.dialog = true;
    }
  }
};
</script>

<style scoped>
#itemtext {
  border-radius: 10px;
  background-color: rgba(60, 162, 140, 0.75);
}
#text {
  margin-top: 200px;
  font-size: 60px;
}

@media (max-width: 900px) {
  #carousel {
    max-height: 400px;
  }
  #text {
    margin-top: 50px;
    font-size: 30px;
  }
}
</style>
