<template>
  <v-content>
    <v-container style="max-width: 1200px ">
      <div style="padding: 10px;border-radius: 15px;" flat>
        <v-layout row wrap>
          <v-flex xs12>
            <div style="border-radius: 15px;">
              <div class="google-maps" style="border-radius: 15px;">
                <iframe
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q=alex%20smederevo&t=&z=15&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                ></iframe>
              </div>
            </div>
          </v-flex>
          <v-flex>
            <h1 class="display-1 primary--text">Osnovne informacije:</h1>
            <v-divider></v-divider>
            <p>
              Pun naziv preduzeća: S.Z.G.A.R "ALEX"
              <br />
              <v-icon size="20" class="mt-1 mr-1">location_on</v-icon
              >Petrijevska 134, 11 300 Smederevo, Srbija
            </p>
            <h1 class="display-1 primary--text">Kontakt</h1>
            <v-divider></v-divider>
            <p>
              <v-icon size="20" class="mt-1 mr-2">call</v-icon>+381 63 267 327
              <br />
              <v-icon size="20" class="mt-1 mr-2">print</v-icon>+381 (026) 46 10
              076
              <br />
              <v-icon size="20" class="mt-1 mr-2">email</v-icon
              >aleksandarstojicic1@gmail.com
            </p>
          </v-flex>
        </v-layout>
        <!-- <v-stepper style="border-radius: 15px;" v-model="step" vertical>
          <v-stepper-step :complete="step > 1" step="1">Izaberi kontakt metod</v-stepper-step>
          <v-stepper-content class="ma-0 px-1" step="1">
            <v-card flat class="mb-5">
              <v-container grid-list-md>
                <v-layout row wrap>
                  <v-flex lg6>
                    <v-btn
                      block
                      color="primary"
                      @click="step = 2, mail=false"
                    >Zatraži upit cene usluge</v-btn>
                  </v-flex>
                  <v-flex lg6>
                    <v-btn block color="primary" @click="step = 2, mail=true">Pošalji nam poruku</v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-stepper-content>
          <div v-if="step === 2 && mail">
            <v-stepper-step :complete="step > 2" step="2">Napišite nam poruku</v-stepper-step>
            <v-stepper-content class="ma-0 px-1" step="2">
              <v-card flat class="mb-5">
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex>
                      <v-text-field label="Ime"></v-text-field>
                    </v-flex>
                    <v-flex>
                      <v-text-field label="E-mail adresa"></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-textarea outline label="Vaša poruka"></v-textarea>
                    </v-flex>
                    <v-layout row justify-end>
                      <v-flex xs12 sm2 md2>
                        <v-btn block color="primary">Pošalji</v-btn>
                      </v-flex>
                    </v-layout>
                  </v-layout>
                </v-container>
              </v-card>
              <v-layout row justify-center>
                <v-flex xs4 sm1>
                  <v-btn block color="error" @click="step = 1">Otkaži</v-btn>
                </v-flex>
              </v-layout>
            </v-stepper-content>
          </div>
          <v-stepper-step v-if="step === 1" step="2">Kontaktiraj nas</v-stepper-step>
          <div v-if="step === 2 && !mail">
            <v-stepper-step :complete="step > 2" step="2">Zatraži upit cene usluga</v-stepper-step>
            <v-stepper-content class="ma-0 px-1" step="2">
              <v-card flat class="mb-5">
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 sm6>
                      <v-text-field label="Ime"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field label="Kontakt telefon"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field label="E-mail adresa"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-select label="Odaberite uslugu" :items="items"/>
                    </v-flex>

                    <v-flex xs12 sm6>
                      <v-text-field append-icon="location_on" label="Lokacija"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-menu
                        :close-on-content-click="false"
                        v-model="menu"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          v-model="computedDateFormatted"
                          label="Izaberite željeni datum početka radova"
                          prepend-icon="event"
                          readonly
                        ></v-text-field>
                        <v-date-picker v-model="date" @input="menu = false"></v-date-picker>
                      </v-menu>
                    </v-flex>

                    <v-flex xs12>
                      <v-textarea outline label="Vaša poruka"></v-textarea>
                    </v-flex>
                    <v-layout row justify-end>
                      <v-flex xs12 sm2 md2>
                        <v-btn block color="primary">Pošalji</v-btn>
                      </v-flex>
                    </v-layout>
                  </v-layout>
                </v-container>
              </v-card>
              <v-layout row justify-center>
                <v-flex xs4 sm1>
                  <v-btn block color="error" @click="step = 1">Otkaži</v-btn>
                </v-flex>
              </v-layout>
            </v-stepper-content>
          </div>
        </v-stepper> -->
      </div>
    </v-container>
  </v-content>
</template>

<script>
export default {
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    }
  },
  watch: {
    date() {
      this.dateFormatted = this.formatDate(this.date);
    }
  },
  methods: {
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    }
  },
  data() {
    return {
      step: 1,
      mail: false,
      items: [
        "Prevoz kiper kamionom",
        "Lupanje betona pikamerom",
        "Secenje betona",
        "Utabavanje betona",
        "Iskop bagerom",
        "Utovaranje rasutog materijala",
        "Skladistenje viljuškarem"
      ],
      date: new Date().toISOString().substr(0, 10),
      dateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
      menu: false
    };
  }
};
</script>

<style scoped>
.google-maps {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
@media (max-width: 700px) {
  .google-maps {
    padding-bottom: 70%;
  }
}
@media (max-width: 400px) {
  .google-maps {
    padding-bottom: 100%;
  }
}
</style>
