<template>
  <v-content>
    <v-container style="max-width: 1200px ">
      <div>
        <v-card flat style="border-radius: 15px;">
          <div class="ml-3">
            <h1 class="display-3 mb-5">Usluge</h1>
            <div
              v-for="usluga in usluge"
              :key="usluga"
              class="subheading font-weight-regular ml-3 mb-2"
            >
              - {{ usluga }}
            </div>
          </div>
          <v-divider class="my-5"></v-divider>
          <h1 id="mehanizacija" class="display-2 text-xs-center mb-5">
            Naša mehanizacija
          </h1>
          <v-layout row wrap>
            <v-flex
              lg4
              md4
              sm6
              xs12
              v-for="machine in machines"
              :key="machine.src"
            >
              <v-card style="border-radius: 10px;" class="ma-2">
                <v-divider class="pb-1"></v-divider>
                <v-img
                  style="border-radius: 5px;"
                  class="ma-1"
                  :src="machine.src"
                  aspect-ratio="1.8"
                ></v-img>
                <v-divider></v-divider>
                <v-card-title class="pt-1">
                  <div>
                    <h3 class="headline mb-0">{{ machine.headline }}</h3>
                    <div v-for="text in machine.text" :key="text">
                      {{ text }}
                      <br />
                    </div>
                  </div>
                </v-card-title>
              </v-card>
            </v-flex>
          </v-layout>
        </v-card>
      </div>
    </v-container>
  </v-content>
</template>

<script>
export default {
  data() {
    return {
      machines: [
        {
          src: "/thumbs/01.jpg",
          headline: "Mercedes-Benz 2628",
          text: []
        },
        {
          src: "/thumbs/02.jpg",
          headline: "LIEBHERR - 912",
          text: ["Lupanje betona pikamerom", "Iskopavanje"]
        },
        {
          src: "/thumbs/03.jpg",
          headline: "O&K Utovarivač",
          text: ["Utovaranje rasutog materijala"]
        },
        {
          src: "/thumbs/04.jpg",
          headline: "Buldožer",
          text: ["Rasčišćavanje terena i deponija", "Vađenje stabala"]
        },
        {
          src: "/thumbs/05.jpg",
          headline: "Viljuškar",
          text: ["Industrijska namena za velike hale", "Utovar i pretovar robe"]
        },
        {
          src: "/thumbs/06.jpg",
          headline: "Sečenje betona i sabijanje",
          text: ["Sečenje betona dijamnskom testerom", "Sabijanje betona žabom"]
        }
      ],
      usluge: [
        "Prevoz rasutog i građevinskog materijala u drumskom saobraćaju kiper kamionima",
        "Zemljani radovi",
        "Мašinski iskop zemlje bagerom",
        "Radovi u nisko gradnji",
        "Iskop posteljice i izrada platoa šljunkovitim i kamenitim materijalima",
        "Rušenje objekata",
        "Raščišćavanje, planiranje i ravnjanje zemljanih površina buldožerom",
        "Usluga razbijanja betona pikamerom bagerom sa težinom čekića 1100kg",
        "Raščišćavanje komunalnih deponija buldožerom",
        "Mašinsko sečenje betona"
      ]
    };
  }
};
</script>

<style scoped>
@media (max-width: 340px) {
  #mehanizacija {
    font-size: 2em !important;
  }
}
</style>
