<template>
  <div>
    <v-navigation-drawer
      class="hidden-md-and-up"
      v-model="drawer"
      stateless
      temporary
      clipped
      fixed
      app
    >
      <v-list dense>
        <v-list-tile>
          <v-btn block flat color="error" @click="drawer = false"
            >Zatvori
            <v-icon right>cancel</v-icon>
          </v-btn>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile
          v-for="nLink in navLinks"
          :key="nLink.label"
          route
          :to="nLink.route"
          @click="drawer = false"
        >
          <v-list-tile-action>
            <v-icon>{{ nLink.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="font-weight-bold">{{
              nLink.label
            }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          @click="$store.commit('toggleDark')"
          class="hidden-sm-and-up"
        >
          <v-switch
            v-model="$store.getters.dark"
            class="pt-3"
            color="error"
            label="Tamno"
          ></v-switch>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar height="55" app fixed clipped-left>
      <v-toolbar-side-icon
        class="hidden-md-and-up"
        @click.stop="drawer = !drawer"
      ></v-toolbar-side-icon>
      <img
        class="pr-3"
        style="max-height:55px"
        src="/LOGO_B.png"
        alt="logo"
        @click="$router.push('/')"
      />
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          small
          v-for="nLink in navLinks"
          :key="nLink.label"
          flat
          route
          :to="nLink.route"
          >{{ nLink.label }}</v-btn
        >
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items
        @click="$store.commit('toggleDark')"
        class="hidden-xs-only"
      >
        <v-switch
          v-model="$store.getters.dark"
          class="pt-3"
          color="error"
          label="Tamno"
        ></v-switch>
      </v-toolbar-items>
      <!-- <v-btn icon @click="$router.push('/login')">
        <v-icon>account_circle</v-icon>
      </v-btn> -->
    </v-toolbar>

    <v-footer app fixed>
      <span>&copy;S.Z.G.A.R "ALEX" | Smederevo</span>
    </v-footer>
  </div>
</template>

<script>
export default {
  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  methods: {
    handleResize() {
      if (window.innerWidth >= 960) {
        this.drawer = false;
      }
    }
  },
  data: () => ({
    drawer: false,
    navLinks: [
      { label: "Početna", icon: "home", route: "/" },
      { label: "Usluge", icon: "work", route: "/usluge" },
      { label: "Kontakt", icon: "contact_mail", route: "/kontakt" }
      // { label: "Dosadašnji radovi", icon: "filter", route: "/dosadasnjiradovi" }
    ]
  })
};
</script>

<style scoped></style>
