<template>
  <v-parallax height="300" src="/parallax.jpg">
    <v-layout row wrap justify-center>
      <v-flex xs10 sm5 md4 lg3>
        <div id="kontakt" class="text-xs-center white--text">
          <strong>
            <h1>Kontakt</h1>
            <v-divider></v-divider>
            <p>
              <v-icon color="white" size="20" class="mt-1 mr-2">call</v-icon
              >+381 63 267 327
              <br />
              <v-icon color="white" size="20" class="mt-1 mr-2">print</v-icon
              >+381 (026) 46 10 076
              <br />
              <v-icon color="white" size="20" class="mt-1 mr-2">email</v-icon
              >aleksandarstojicic1@gmail.com
            </p>
          </strong>
        </div>
      </v-flex>
      <v-flex id="buttons" xs12>
        <v-layout class="pa-0 ma-0" justify-center row wrap>
          <v-btn
            v-for="link in links"
            :key="link.label"
            route
            :to="link.route"
            >{{ link.label }}</v-btn
          >
        </v-layout>
      </v-flex>
    </v-layout>
  </v-parallax>
</template>

<script>
export default {
  data() {
    return {
      links: [
        { label: "Početna", route: "/" },
        { label: "Usluge", route: "/usluge" },
        { label: "Kontaktiraj nas", route: "/kontakt" }
        // { label: "Dosadašnji radovi", route: "/dosadasnjiradovi" }
      ]
    };
  }
};
</script>

<style scoped>
#kontakt {
  margin-top: 50px;
  background-color: rgba(60, 162, 140, 0.75);
  border-radius: 15px;
}
#buttons {
  display: block;
  position: absolute;
  top: 57%;
}
@media (max-width: 327px) {
  #kontakt {
    margin-top: 0px;
  }
  #buttons {
    top: 41%;
  }
}
</style>
