<template>
  <v-app>
    <div id="bgimg" style="background-image:url(/login.jpg)"></div>

    <v-card id="loginform" v-on:keyup.enter="loginme">
      <div id="close">
        <v-btn icon @click="$router.push('/')">
          <v-icon color="error">cancel</v-icon>
        </v-btn>
      </div>
      <img src="/LOGO_B.png">
      <v-form v-model="valid">
        <v-text-field
          outline
          v-model="username"
          :rules="[rules.usernameRules, rules.min]"
          label="Korisničko ime"
          required
        ></v-text-field>
        <v-text-field
          outline
          v-model="password"
          :append-icon="showpassword ? 'visibility_off' : 'visibility'"
          :rules="[rules.required, rules.min]"
          :type="showpassword ? 'text' : 'password'"
          name="input-10-1"
          label="Šifra"
          counter
          @click:append="showpassword = !showpassword"
        ></v-text-field>
        <v-layout class="pb-3" row>
          <v-btn color="primary" block class="pa-0 ma-0" @click="loginme">Prijavi se</v-btn>
        </v-layout>
        <v-alert
          dismissible
          v-model="wrongpw"
          :value="wrongpw"
          type="error"
        >Neuspešna autoratizacija</v-alert>
      </v-form>
    </v-card>
  </v-app>
</template>

<script>
export default {
  methods: {
    loginme() {
      if (this.password === "smederevo1" && this.username === "alexsd") {
        this.$store.commit("login");
        this.$router.push("/dosadasnjiradovi");
      } else {
        this.username = "";
        this.password = "";
        this.wrongpw = true;
      }
    }
  },
  data: () => ({
    wrongpw: false,
    valid: false,
    username: "",
    password: "",
    showpassword: false,
    checkbox: false,
    rules: {
      required: value => !!value || "Obavezno polje",
      min: v => v.length >= 5 || "Minimalno 5 karaktera",
      usernameRules: [v => !!v || "Korisničko ime nije ispravno"]
    }
  })
};
</script>
<style scoped>
#close {
  position: absolute;
  display: block;
  left: 550px;
  top: -5px;
}
#loginform {
  border: 2px solid rgb(102, 95, 95);
  border-radius: 5px;

  background-size: 150%;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  width: 600px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
#bgimg {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}
img {
  width: 100%;
}
@media (max-width: 600px) {
  #loginform {
    top: 50%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
  }
  #close {
    position: absolute;
    display: block;
    left: 350px;
    top: -5px;
  }
}
@media (max-width: 410px) {
  #loginform {
    top: 45%;
    margin-top: -150px;
    margin-left: -150px;
    width: 300px;
  }
  #close {
    position: absolute;
    display: block;
    left: 250px;
    top: -5px;
  }
}
</style>