<template>
  <v-app id="page" :dark="$store.getters.dark">
    <router-view name="navbar"/>
    <router-view name="home"/>

    <router-view/>

    <router-view name="footer"/>
  </v-app>
</template>

<script>
export default {};
</script>

<style scoped>
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");
#page {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
</style>